{% extends 'personal/experiencia.html' %}
{% block titulo %}
<div class="text-center mb-5">
    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Formación Académica</span></h1>
</div>
{% endblock titulo %}
{% block subtitulo%}

</div>
{% endblock subtitulo%}

{% block contenido2 %}
<form action="" method="post">

{% csrf_token %}
    <div class="text-center">     
        <h3>¿Esta seguro de eliminar el estudio {{object.nombre}}? <p style="color:grey"></p> </h3>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-dark px-4 py-3" value="Borrar">
        <a href="javascript:history.back()" class="btn btn-primary px-4 py-3">Mantener</a>
    </div>
</form>

{% endblock contenido2 %} 